<%= form_with(model: modulepage, local: true, html: {class: "form-horizontal"}) do |form| %>
  <% if modulepage.errors.any? %>
    <div class="row">
      <div class="col-md-9 col-md-offset-3">
        <div class="callout callout-danger">
          <h4><i class="icon fa fa-warning"></i> <%= pluralize(modulepage.errors.count, "error") %> prohibited this module from being saved:</h4>

          <ul>
          <% modulepage.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :name, :class=>"col-md-3 control-label" %>
    <div class="col-md-9">
        <%= form.text_field :name, id: :modulepage_name, :class=>"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :url, :class=>"col-md-3 control-label" %>
    <div class="col-md-9">
      <%= form.text_field :url, id: :modulepage_url, :class=>"form-control" %>
    </div>
  </div>

  <div class="form-group row">
      <div class="col-md-9 col-md-offset-3">
        <%= form.submit "Save", :class => "btn btn-primary" %>
      </div>
  </div>
<% end %>
