<section class="content-header">
    <h1>
        Module
        <small>Show</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class=""><%= link_to "Modules", modulepages_path %></li>
        <li class="active">Show Module</li>
    </ol>
</section>

<section class="content">
  <div class="row">
      <div class="col-md-12">
          <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-9">

              <p id="notice"><%= notice %></p>

              <p>
                <strong>Name:</strong>
                <%= @modulepage.name %>
              </p>

              <p>
                <strong>Url:</strong>
                <%= @modulepage.url %>
              </p>

              <%= link_to 'Edit', edit_modulepage_path(@modulepage) %> |
              <%= link_to 'Back', modulepages_path %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
