<%= form_with(model: user, local: true, html: {class: "form-horizontal"}) do |form| %>

  <% if user.errors.any? %>
  <div class="row">
    <div class="col-md-9 col-md-offset-3">
      <div class="callout callout-danger">
        <h4><i class="icon fa fa-warning"></i><%= pluralize(user.errors.count, "error") %> prohibited this role from being saved:</h4>

        <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% end %>



  <div class="form-group row">
    <%= form.label :email, :class=>"col-md-3 control-label" %>
    <div class="col-md-9">
      <%= form.text_field :email, id: :user_email, :class=>"form-control" %>
    </div>
  </div>

  

  <div class="form-group row">
    <%= form.label :password, :class=>"col-md-3 control-label" %>
    <div class="col-md-9">
        <%= form.password_field :password, id: :user_password, :class=>"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :role_id, :class=>"col-md-3 control-label" %>
    <div class="col-md-9">
      <%= collection_select( :roles_users, :role_id, @roles, :id, :name, {:selected=>user.role_ids}, { :class=> "form-control", :multiple => true } ) %>
    </div>
  </div>

    

  <div class="form-group row">
    <div class="col-md-9 col-md-offset-3">
      <%= form.submit "Save", :class => "btn btn-primary" %>
    </div>
</div>
<% end %>
