<%= form_with(model: role, local: true, html: {class: "form-horizontal"}) do |form| %>
  <% if role.errors.any? %>
  <div class="row">
    <div class="col-md-9 col-md-offset-3">
      <div class="callout callout-danger">
        <h4><i class="icon fa fa-warning"></i><%= pluralize(role.errors.count, "error") %> prohibited this role from being saved:</h4>

        <ul>
          <% role.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :name, :class=>"col-md-3 control-label" %>
    <div class="col-md-9">
      <%= form.text_field :name, id: :role_name, :class=>"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :alias, :class=>"col-md-3 control-label" %>
    <div class="col-md-9">
      <%= form.text_field :alias, id: :role_alias, :class=>"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :module_id, :class=>"col-md-3 control-label" %>
    <div class="col-md-9">
      <%= collection_select( :modulepages_roles, :modulepage_id, Modulepage.all, :id, :name, {:selected=>role.modulepage_ids}, { :class=> "form-control", :multiple => true } ) %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-9 col-md-offset-3">
      <%= form.submit "Save", :class => "btn btn-primary" %>
    </div>
</div>
<% end %>
