<!DOCTYPE html>
<html>
  <head>
    <title>IukhuwahRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render "shared/head" %>
  </head>

  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      
      <%= render "shared/header" %>
      
      

      <%= render "shared/main_sidebar" %>
    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
    
        
    
        <%= yield %>
    
      </div>
      <!-- /.content-wrapper -->

      <%= render "shared/main_footer" %>
      
      
    
    </div>
      <!-- ./wrapper -->
    
      <%= render "shared/scripts" %>

      <%= render "shared/choose_role" %>
      
  </body>
</html>

